/* PAGE CONTENT STARTS */

.content-teams{
    margin-left: 18%;
    margin-right: 18%;
}

.team-title {
    font-size: 4vmax;
    font-weight: 600;
    color: #152950;
    margin-top: 5vmin;
    text-align: center;
}
.team-description{
    margin-top: 1%;
    margin-bottom: 5vmin;
    margin-left: 7%;
    margin-right: 7%;
}

.team-image-row {
    display: flex;
    text-align: center;
    justify-content: center;
}

.exec-container{
    margin: 2vmin;
    width: 25%;
}

.exec-image{
    width: 100%;
    display: inline-block;
}

.exec-separator{
    height: 1vmin;
    width: 40%;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

.exec-name{
    color: #856E9F;
    font-weight: 600;
    font-size: 1.5vmax;
}

.exec-name-fit{
    color: #856E9F;
    font-weight: 600;
    font-size: 1.1vmax;
}

.exec-position{
    color: #152950;
    font-weight: 300;
    font-size: 1vmax;
}

.subteam-title{
    font-size: 3vmax;
    font-weight: 600;
    color: #B0579C;
    margin-top: 10vmin;
    /* margin-bottom: 3vmin; */
    text-align: center;
}

.spacing-down{
    margin-bottom: 10vmin;
}